@charset "UTF-8";
/*
==================================================
Reset, Base
==================================================
*/
/*
--------------------------------------------------
@:Reset Style
--------------------------------------------------
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  overflow-y: scroll;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

nav, ol, ul {
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea {
  line-height: 1.231;
  color: #737373;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 13px;
}
body.ExOsWin input, body.ExOsWin
button, body.ExOsWin
textarea {
  font-family: Meiryo, 'MS PGothic', sans-serif;
}

select,
input,
button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: top;
}

:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

em, cite {
  font-style: normal;
}

table, th, td {
  border: none;
}

fieldset {
  border: none;
}

fieldset legend {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

hr {
  display: none;
}

input,
button,
textarea {
  border: 0;
}

/*
--------------------------------------------------
@:Default Style
--------------------------------------------------
*/
body {
  line-height: 1.231;
  color: #737373;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 13px;
}

a:link, a:visited {
  color: #2d86b2;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #2d86b2;
  text-decoration: underline;
}

/*
==================================================
Layout
==================================================
*/
/*
--------------------------------------------------
@:Body, LyWrap
--------------------------------------------------
*/
body {
  min-width: 1261px;
  background: #ffffff;
}

.LyWrap {
  position: relative;
  margin: 0 auto;
}

/*
--------------------------------------------------
@:Header
--------------------------------------------------
*/
.LyHead {
  position: relative;
  height: 71px;
  background: #2a2a2a;
}

/*
--------------------------------------------------
@:Contents
--------------------------------------------------
*/
.LyContents {
  margin: 0 auto;
}

.LyMain {
  overflow: hidden;
  min-height: 780px;
  padding-left: 1px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff repeat-y;
}
.LyMain.lyMainError {
  background: #fff;
}

.LySub {
  float: left;
  width: 100px;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #30323f;
}

.LySub img, .Lysub a{
    width:100px;
    height:100px;
}

.LySubMenu {
  float: left;
  width: 200px;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #262a35;
}

.LySubMenu .LySubMenuText{
    padding-top: 90px;
    padding-left: 10px;
}


/*
==================================================
Extend
==================================================
*/
.LyHead:after {
  content: "";
  display: block;
  clear: both;
}

.MdGHD01Logo a {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -9999px;
}

.MdIcoSearch01 {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -9999px;
}

.MdGHD01Logo a {
  background-image: url(/files/logo.png);
}

.MdIcoSearch01, .MdGHD02Search {
  background-image: url(/files/test.png);
}

/*
==================================================
Module
==================================================
*/
/*
--------------------------------------------------
from njlib-private/_style-mixin-module.scss
--------------------------------------------------
*/
/* @:MdCF */
.MdCF:after {
  content: "";
  display: block;
  clear: both;
}

/* @:MdHide */
.MdHide {
  position: absolute;
  left: -9999px;
}

/* @:MdNonDisp */
.MdNonDisp {
  display: none !important;
}

/* @:MdFont */
.MdFontB {
  font-weight: bold !important;
}

.MdFontN {
  font-weight: normal !important;
}

/*
--------------------------------------------------
@:GHD Module
--------------------------------------------------
*/
.MdGHD01Logo {
  float: left;
  margin: 18px 0 0 30px;
}
.MdGHD01Logo a {
  width: 300px;
  height: 33px;

}

.MdGHD02Search {
  float: left;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 243px;
  height: 41px;
  background-position: 0px 0px;
  margin: 15px 0 0 30px;
}
.MdGHD02Search input {
  width: 182px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 15px;
  background: transparent;
  color: #e0e0e0;
  font-size: 14px;
  padding: 0;
}
.MdGHD02Search input::-webkit-input-placeholder {
  color: #545454;
}
.MdGHD02Search input::-moz-placeholder {
  color: #545454;
}
.MdGHD02Search input:-ms-input-placeholder {
  color: #545454;
}
.MdGHD02Search input::-ms-clear {
  display: none;
}
.MdGHD02Search input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #292929 inset;
  -webkit-text-fill-color: #e0e0e0;
}
.MdGHD02Search .MdIcoSearch01 {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 13px;
}

.MdGHD03Util {
  position: relative;
  float: right;
  margin: 29px 39px 0 0;
}
.MdGHD03Util .mdGHD03Li {
  float: left;
  font-size: 14px;
  color: #848484;
  margin-left: 12px;
}
.MdGHD03Util .mdGHD03Li a {
  color: #848484;
}

.MdGHD04Util {
  position: relative;
  float: right;
  margin: 29px 39px 0 0;
}
.MdGHD04Util .mdGHD04Li {
  float: left;
  font-size: 12px;
  margin-left: 12px;
  margin-bottom: 30px;
}

.MdGHD04Util .mdGHD04Li a {
  color: #fff;
  display: block;
}

.MdGHD04Util .mdGHD04Li .LiMain{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.MdGHD04Util .mdGHD04Li .LiSub{
  font-size: 12px;
}
/*
==================================================
Contents Specific Style
==================================================
*/
.MdIcoSearch01 {
  width: 22px;
  height: 22px;
  background-position: -484px -115px;
}

.LyMain .ContentIndent{
    display: block;
    height: 60px;
}

.LyMain .ContentTextView{
    display:block;
    margin-left:40px;
}

.LyMain .ContentTextView .ContentTitle{
    font-weight: bold;
    font-size: 18px;
}
/*
==================================================
Slide Show
==================================================
*/
.mySlides1, .mySlides2, .mySlides3, .mySlides4,
.mySlides5, .mySlides6, .mySlides7, .mySlides0  {display:none}

.SlideShowImg{
    width:97.5%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  left: 0px;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*
==================================================
Image Modal
==================================================
*/
.littleModal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:20%;
    height:auto;
    margin-left: 40px
}

.littleModal:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
